// Hangman

#hangman-window {
    padding: 1rem 2rem;

    #head,
    #body,
    #arm-left,
    #arm-right,
    #leg-left,
    #leg-right,
    #happy {
        display: none;
    }   

    svg {
        width: 90%;
    }
    
    #display {
        min-width: 320px;
    }

    #display * {
        margin-top: 1rem;
    }
    
    #word-display {
        font-size: 1.5rem;
        // font-family: 'Fira Mono', monospace;
    }
    
    #output-message {
        font-size: 1rem;
    }
    
    #used-characters {
        display: flex;
        height: 2.5rem;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        
        p {
            margin: 0;
        }
    }

    .flex-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }
    
    form {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 250px;
        margin: 0 auto;

        button {
            margin-top: 0.8rem;
        }
    }
    
    input {
        margin: 0.5rem;
    }
    
    #letter {
        width: 4rem;
        padding: 0.2rem 0;
    }
}
