// Notes

#notes-window {
    width: 350px;
    ul {
        list-style: none;
    }
    
    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dotted #000;
        padding: 1rem;
    }
    
    .task-section,
    .btn,
    input[type="text"] {
        border: 1px solid #000;
    }
    
    form {
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
    
    input[type="text"] {
        margin-right: 0.5rem;
        padding: 0 1rem;
        width: 200px;
    } 
    
    .task-section {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 2rem;
        min-height: 400px;
        box-shadow: 2px 2px;
    }
    
    .btn {
        background-color: #fff;
        padding: 0.5rem 1rem;
        box-shadow: 2px 2px;
    }
    
    span {
        display: flex;
        justify-content: center;
        font-family: monospace;
        background-color: #000;
        color: #fff;
        width: 18px;
        height: 18px;
        border-radius: 5px;
    }
    
    p {
        max-width: 230px;
    }
}