// Modules

@use 'hangman';
@use 'memory';
@use 'tic-tac-toe';
@use 'notes';

// CSS Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables

$default-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
$font-stack: chicago, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Typography

html {
    font-size: 100%;
}

@font-face {
    font-family: chicago;
    src: url(chicago.ttf);
}

// Global Classes

.off {
    display: none;
}

.invert-colors {
    background-color: #000;
    color: #fff;
}

.border-shadow {
    border: 1px solid black;
    -webkit-box-shadow: $default-shadow;
    -moz-box-shadow: $default-shadow;
    box-shadow: $default-shadow;
}

.btn {
    background: #fff;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 1px solid black;
    -webkit-box-shadow: $default-shadow;
    -moz-box-shadow: $default-shadow;
    box-shadow: $default-shadow;
}

// Desktop

header nav {
    padding: 0 0.5rem;
    border-bottom: 2px solid #272727;

    button, a {
        background-color: transparent;
        border: none;
        padding: 0 0.5rem;
        font-family: $font-stack;
    }

    a {
        text-decoration: inherit;
        color: inherit;
    }

    .nav-btn {
        padding: 0.3rem 0.5rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        z-index: 2;
        background-color: #fff;
        margin-top: 0.1rem;
        -webkit-box-shadow: $default-shadow;
        -moz-box-shadow: $default-shadow;
        box-shadow: $default-shadow;
    }

    .dropdown-content > button {
        padding: 0.3rem 2.5rem 0.5rem 0.5rem; 
        width: 100%;
        text-align: left;
    }

    .dropdown-content > button:hover {
        background-color: #000;
        color: #fff;
    }
}

.desktop {
    height: calc(100vh - 30.6px); /* so magic */
    background-image: url(./assets/backgrounds/space_1920x1080.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-stack;
}

// Draggable Div

#draggable-div {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    -webkit-animation: scale-in-tl 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tl 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 

    #draggable-divheader {
        cursor: move;
        z-index: 1;
        background-color: #000;
        color: #fff;
        border-radius: inherit;
        font-size: 0.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            margin-left: 0.2rem;
            cursor: pointer;
        }

        h2 {
            display: inline-block;
        }

        .dummy-div {
            width: 25px;
            height: 27px;
        }
    }
}



// About Me ...

#about-me-window {
    width: 655px;
    height: 361px;
    background-image: url(./assets/about-me.jpg);
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: $default-shadow;
    -moz-box-shadow: $default-shadow;
    box-shadow: $default-shadow;
    position: relative;
    transform: translateX(-50%);
    top: 10%;
    left: 50%;

    h1 {
        color: white;
        padding: 0.8rem 1rem;
        font-size: 1.5rem;
    }

    p {
        position: absolute;
        color: #fff;
        bottom: 10px;
        right: 10px;
    }

}

#contact {
    a {
        padding: 0;
    }
}

// Background 

#background-window {
    border-radius: 8px 8px 0 0;
}

.bw-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: inherit;

    .main-thumbnail {
        display: flex;
        justify-content: center;
    }

    #img-thumbnail {
        width: 70%;
    }

    .thumbnails {
        padding: 1.5rem 1.5rem 1.8rem 1.5rem;
        border-radius: inherit;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 5px;
    }

    .thumbnails > img {
        border: 2px solid black;
        border-radius: 5px;
    }
    
}

.btn-section {
    padding: 0 1.8rem 1rem 0;
    text-align: right;
}


// Animations

 @-webkit-keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  

// Credits

/* scale-in-tl:
 * Generated by Animista on 2020-3-5 16:21:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
*/
